binary.pdf
binary.png
binary2.pdf
binary2.png
BinFigure.class
ivoatexmeta.tex
VOTable.aux
VOTable.log
VOTable.out
VOTable.pdf
VOTable.toc
arxiv-upload.tar.gz
VOTable.bbl
VOTable.blg
docrepo.bib
gitmeta.tex
REC-VOTable-1.4.zip
VOTable.html
*.fdb_latexmk
*.fls
*.swp
