name: CI build of the VOTable standard

on: 
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Setup dependencies
      run: |
        sudo apt update
        sudo apt install texlive-latex-base texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended xsltproc ghostscript cm-super librsvg2-bin inkscape openjdk-8-jre-headless
      
    - name: Build the document
      run: make biblio forcetex
      
    - name: Check the output
      run: |
        test -f VOTable.pdf
        test -f VOTable.bbl
        
    - uses: actions/upload-artifact@v1
      with:
        name: VOTable.pdf Preview
        path: VOTable.pdf
